@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Regular.ttf.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Bold.ttf.ttf') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Light.ttf.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Medium.ttf.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Semibold.ttf.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/Gilroy-Extrabold.ttf.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Gilroy', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 200;
    color: #02060c;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.header-wrapper {
    padding: 15px 15px 10px;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
    box-shadow: 0 15px 40px -20px rgba(40,44,63,.15);
}


.header-container {
    max-width: 1220px;
    margin: auto;
    padding-inline: 10px;   
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* grid-gap: 13.5vw; */
    /* grid-gap: 8rem; */
}

.nav-icons {
    margin-right: -16px;
}

.nav-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 45px;
}

.nav-logo-img {
    display: inline-block;
}

.nav-logo-img a{
    transition: transform 0.3s cubic-bezier(.215,.61,.355,1);
    display: inline-block;
}

.nav-logo-img a:hover{
    transform: scale(1.1);
}

sup {
    position: absolute;
    top: 6px;
    right: 0;
    color: #ffa700;
    left: 76px;
    font-size: 10px;
    font-weight: 800;
    display: inline-block;
    width: fit-content;
}

.nav-icons ul li:nth-child(3) {
    padding-right: 5px;
}

svg{
    display: block;
}

.ppAwf{
    fill: rgba(2,6,12,.9);
}

.other {
    font-weight: 800;
    font-size: 14px;
    color: rgba(2,6,12,.9);
    position: relative;
    padding-block: 4px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 14px;
    margin-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.other:hover {
    color: #ff5200;
}

.other:hover span::after{
    background-color: #ff5200;
}

.other span::after {
    content: "";
    position: absolute;
    background-color: rgba(2,6,12,.9);
    height: 2px;
    width: 53%;
    bottom: 0px;
    max-width: 100%;
    left: 0;
}

span.card-count {
    position: absolute;
    left: 6px;
    font-size: 14px;
}

.nav-icons ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 3.5vw;
    margin-bottom: 5px;
}

.nav-icons ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-size: 16px;
    font-weight: 700;
    padding-block: 10px;
    position: relative;
}

.nav-icons ul li a:hover {
    color: #ff5200;
}

.nav-icons ul li a:hover .ppAwf rect, .nav-icons ul li a:hover .vZTPh{
    stroke: #ff5200;
}

.nav-icons ul li a:hover .ppAwf path{
    fill: #ff5200;
}

.nav-icons ul li a:hover .vZTPh{
    fill: none;
}

/* What's on your mind */

.container {
    margin-left: calc(7% + 42px);
    margin-right: calc(7% + 42px);
    padding-inline: 10px;
}

.slider-wrapper {
    padding-top: 80px;
}

.slider-row {
    padding-inline: 15px;
}

.slider-head-text h2 {
    font-size: 21px;
    font-weight: 800;
    letter-spacing: -0.05px;
    line-height: 1.1px;
}

.slider-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
}

.slider-head-arrow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
}

.swiper-slide-button {
    background-color: rgba(2, 6, 12, 0.15);
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

/* slider-images */

.slider-imgs {
    overflow: hidden;
    width: 100%;
    padding-top: 14px;
}

.slider-imgs ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    grid-gap: 1.37em;
    padding-bottom: 15px;
}

.slider-imgs ul li{
    flex-shrink: 0;
}

.slider-imgs ul li a img {
    height: 180px;
    width: 144px;
}

/* .slider-imgs ul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgba(2, 6, 12, 0.1);
    bottom: 0;
} */

/* Top restaurants chains in Indore */

section.main-slider-wrapper {
    padding-block: 5px;
}

.text-slider-imgs ul li a img {
    width: 100%;
    height: 181px;
    object-fit: cover;
    border-radius: 20px;
}

.absolute-img-text {
    position: relative;
    transition: transform 0.05s ease-out;
    width: 17.1rem;
    height: auto;
}

.absolute-img{
    position: relative;
}

.absolute-img-text:hover {
    transform: scale(0.95);
    transition: transform 0.05s ease-out;
}

.absolute-text-bottom {
    padding: 10px;
    display: grid;
    /* gap: 3px; */
    margin-top: 2px;
    align-items: center;
    font-family: 'Gilroy';
}

.absolute-text-bottom h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: rgba(2, 6, 12, 0.92);
    letter-spacing: -1.1px;
}

.grey-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    color: rgba(2, 6, 12, 0.6);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: -0.4px;
    font-family: 'Gilroy';
    /* text-shadow: 0.50px 0.05px rgba(2, 6, 12, 0.3); */
}

.absolute-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    color: #fff;
    border-radius: 0px 0px 15px 15px;
    background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
    font-size: 20px;
    font-weight: 900;
    letter-spacing: -0.5px;
    height: calc(81px);
    display: grid;
    align-content: end;
    font-family: 'Gilroy';
}

.text-slider-imgs {
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
}

.text-slider-imgs ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    position: relative;
    padding-bottom: 25px;
}

/* .text-slider-imgs ul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #d6d7d6;
    bottom: 0;
} */

.text-slider-imgs ul li {
    flex-shrink: 0;
}

.rating-d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 2px;
}

.rating-d-flex span {
    color: rgba(2, 6, 12, 0.92);
    font-size: 16px;
    font-weight: 550;
    line-height: 1.2;
    letter-spacing: -1.1px;
}

/* Restaurants with online food delivery in Indore */

#sort {
    border-radius: 20px;
    padding: 10px;
    max-width: 6rem;
    border: 1px solid rgba(2, 6, 12, 0.15);
    margin-block: 20px;
    cursor: pointer;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='rgba(2,6,12,0.75)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.35px;
    color: rgba(2, 6, 12, 0.75);
}

.content-head {
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.content-row{
    padding: 10px;
}

/* Row1 */

.text-slider-content-imgs ul li a img {
    width: 100%;
    height: 12vw;
    object-fit: cover;
    border-radius: 20px;
}
/*
.text-slider-content-imgs {
    width: 100%;
}

.text-slider-content-imgs ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    padding-bottom: 20px;
} */

.text-slider-content-imgs ul {
    display: grid;
    position: relative;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.absolute-img-textt {
    position: relative;
    transition: transform 0.05s ease-out;
    width: 17.5vw;
}

.absolute-img-textt:hover {
    transform: scale(0.95);
    transition: transform 0.05s ease-out;
}

/* places */

.place-row {
    display: grid;
    gap: 25px;
}

.cities ul{
    display: grid;
    position: relative;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

.cities ul li a {
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    padding-block: 10px;
    padding-inline: 18px;
    border-radius: 12px;
    margin: 0 8px 16px;
    display: block;
}

.cities ul li a span{
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: rgba(2, 6, 12, 0.75);
    letter-spacing: -0.4px;
    display: inline-block;
}

.show-display {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.show{
    color: rgb(255, 82, 0) !important;
}

.m-bottom-20{
    margin-bottom: 20px !important;
}

/* footer */

.footer-wrapper{
    background-color: rgb(240, 240, 245);
}

.footer-head-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
    padding: 33px 0 85px 0;
    position: relative;
}

/* .footer-head-content::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #000;
    height: 1px;
    top: 0;
} */

.footer-head-content h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    color: rgba(2, 6, 12, 0.75);
    letter-spacing: -0.6px;
}

.footer-head-content img {
    max-width: 208px;
    height: 64px;
    object-fit: cover;
    border-radius: 15px;
}

.footer-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 14%;
    padding: 0px 15% 1.5rem;
}

.footer-main ul li {
    padding: 8px 40px 8px 0;
}

.padding-right-15 li{
    padding-right: 15px !important;
}

.padding-right-8 li{
    padding-right: 8px !important;
}

.footer-main ul li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
}

.ul-head {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(2, 6, 12, 0.92);
    letter-spacing: -0.45px;
}

.nested-list {
    display: grid;
    grid-gap: 14vw;
}

.socia-icons li a img {
    width: 16px;
    height: 18px;
    object-fit: contain;
}


.socia-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.city-container {
    margin-left: calc(15% - 16px);
    margin-right: calc(15% - 16px);
    padding-inline: 10px;
}

.hr-tag {
    border: 1px solid rgba(2, 6, 12, 0.1);
    margin: 32px calc(7% + 52px);
}

.place-wrapper {
    padding-bottom: 35px;
}

.left-arrow{
    background-color: rgb(236 236 237);
}

.left-arrow svg {
    opacity: 0.5;
}

.nav-logo-dropdown a span {
    letter-spacing: -0.1px;
}

.text-slider-content-imgs {
    padding-top: 8px;
}

.hr-tag-footer {
    max-width: 1080px;
    margin: auto;
    background-color: rgba(2, 6, 12, 0.75);
}

.footer-uls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-logo-img span {
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
    color: rgba(2, 6, 12, 0.6);
    letter-spacing: -0.5px;
    font-size: 16px;
}

/* .width-85{
    width: 85% !important;
}

.width-115{
    width: 115% !important;
} */

.margin-4030{
    margin: 4px 0 3px 0;
}
