* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: "Gilroy-Regular";
    margin: 0;
    padding: 0;
    height: 100%;
    font-weight: 200;
    color: #02060c;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.header-wrapper {
    padding: 15px 15px 0 15px;
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 1;
}

.header-container {
    max-width: 1220px;
    margin: auto;
    padding-inline: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* grid-gap: 13.5vw; */
    grid-gap: 8rem;
}

.nav-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 45px;
}

.nav-logo-img {
    display: inline-block;
}

.nav-logo-img a{
    transition: transform 0.3s cubic-bezier(.215,.61,.355,1);
    display: inline-block;
}

.nav-logo-img a:hover{
    transform: scale(1.1);
}

sup {
    position: absolute;
    top: 7px;
    right: 0;
    color: #ffa700;
    left: 75px;
    font-size: 10px;
    font-weight: 600;
}

.nav-icons ul li:nth-child(3) {
    padding-right: 15px;
}

svg{
    display: block;
}

.ppAwf{
    fill: rgba(2,6,12,.9);
}

.other {
    font-weight: 700;
    font-size: 14px;
    color: rgba(2,6,12,.9);
    position: relative;
    padding-block: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

.other:hover {
    color: #ff5200;
}

.other:hover span::after{
    background-color: #ff5200;
}

.other span::after {
    content: "";
    position: absolute;
    background-color: rgba(2,6,12,.9);
    height: 1px;
    width: 60%;
    bottom: 0px;
    max-width: 100%;
    left: 0;
}

span.card-count {
    position: absolute;
    left: 5px;
    font-size: 14px;
}

.nav-icons ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 2.7vw;
}

.nav-icons ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-size: 16px;
    font-weight: 600;
    padding-block: 10px;
    position: relative;
}

.nav-icons ul li a:hover {
    color: #ff5200;
}

.nav-icons ul li a:hover .ppAwf rect, .nav-icons ul li a:hover .vZTPh{
    stroke: #ff5200;
}

.nav-icons ul li a:hover .ppAwf path{
    fill: #ff5200;
}

.nav-icons ul li a:hover .vZTPh{
    fill: none;
}

/* What's on your mind */

.container {
    margin-left: calc(7% + 42px);
    margin-right: calc(7% + 42px);
    padding-inline: 10px;
}

.slider-wrapper {
    padding-top: 80px;
}

.slider-row {
    padding: 20px;
}

.slider-head-text h2 {
    font-size: 21px;
    font-weight: 700;
}

.slider-head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.slider-head-arrow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    margin-right: 15px;
}

.swiper-slide-button {
    background-color: rgba(2, 6, 12, 0.15);
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

/* slider-images */

.slider-imgs{
    overflow: hidden;
    width: 100%;
}

.slider-imgs ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 50px;
    position: relative;
    grid-gap: 1.5vw;
}

.slider-imgs ul li{
    flex-shrink: 0;
}

.slider-imgs ul li a img {
    height: 180px;
    width: 144px;
}

.slider-imgs ul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d6d7d6;
    bottom: 0;
}

/* Top restaurants chains in Indore */

section.main-slider-wrapper {
    padding-block: 5px;
}

.text-slider-imgs ul li a img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    border-radius: 20px;
}

.absolute-img-text {
    position: relative;
    transition: transform 0.05s ease-out;
    width: 17rem;
    height: auto;
}

.absolute-img{
    position: relative;
}

.absolute-img-text:hover {
    transform: scale(0.95);
    transition: transform 0.05s ease-out;
}

.absolute-text-bottom {
    padding: 10px;
}

.absolute-text-bottom h6 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: rgba(2, 6, 12, 0.92);
}

.grey-text {
    font-size: 16px;
    font-weight: 200;
    line-height: 21px;
    color: rgba(2, 6, 12, 0.6);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.absolute-text {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    color: #fff;
    font-weight: 700;
    border-radius: 0px 0px 15px 15px;
    background: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.5px;
}

.text-slider-imgs {
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
}

.text-slider-imgs ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    position: relative;
    padding-bottom: 55px;
}

.text-slider-imgs ul::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #d6d7d6;
    bottom: 0;
}

.text-slider-imgs ul li {
    flex-shrink: 0;
}

.rating-d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 5px;
}

.rating-d-flex span {
    color: rgba(2, 6, 12, 0.92);
    font-size: 16px;
    font-weight: 400;
}

/* Restaurants with online food delivery in Indore */

#sort {
    border-radius: 20px;
    padding: 10px;
    max-width: 6rem;
    border: 1px solid rgba(2, 6, 12, 0.15);
    margin-block: 15px;
    cursor: pointer;
}

.content-head {
    display: grid;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.content-row{
    padding: 10px;
}

/* Row1 */

.text-slider-content-imgs ul li a img {
    width: 100%;
    height: 12vw;
    object-fit: cover;
    border-radius: 20px;
}
/*
.text-slider-content-imgs {
    width: 100%;
}

.text-slider-content-imgs ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    padding-bottom: 20px;
} */

.text-slider-content-imgs ul {
    display: grid;
    position: relative;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.absolute-img-textt {
    position: relative;
    transition: transform 0.05s ease-out;
    width: 17.5vw;
}

.absolute-img-textt:hover {
    transform: scale(0.95);
    transition: transform 0.05s ease-out;
}

/* places */

.place-row {
    max-width: 970px;
    margin: auto;
    padding: 10px;
}

.cities ul{
    display: grid;
    position: relative;
    padding-bottom: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
}

.cities ul li a {
    border: 1.5px solid rgba(2, 6, 12, 0.1);
    padding: 10px;
    border-radius: 12px;
    margin: 0 8px 16px;
    display: block;
}

.cities ul li a span{
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: rgba(2, 6, 12, 0.75);
}

.show-display {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.show{
    color: rgb(255, 82, 0) !important;
}

.m-bottom-20{
    margin-bottom: 20px !important;
}

/* footer */

.footer-wrapper{
    background-color: rgb(240, 240, 245);
    padding-bottom: 40px;
}

.footer-container{
    max-width: 1100px;
    margin: auto;
}
.footer-head-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.footer-head-content {
    padding: 40px 0 80px 0;
    position: relative;
}

.footer-head-content::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #000;
    height: 1px;
    top: 0;
}
.footer-head-content h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 26px;
    color: rgba(2, 6, 12, 0.75);
}

.footer-head-content img {
    width: 200px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.d-grid {
    display: grid;
    grid-gap: 10px;
}

.footer-main ul li{
    padding-block: 8px;
}

.footer-main ul li a {
    font-size: 16px;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: -0.4px;
    color: rgba(2, 6, 12, 0.6);
}

.ul-head {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(2, 6, 12, 0.92);
    letter-spacing: -0.45px;
}

.nested-list {
    display: grid;
    grid-gap: 10vw;
}

.socia-icons li a img {
    width: 16px;
    height: 18px;
    object-fit: cover;
}

.socia-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.city-container {
    margin-left: calc(15% - 6px);
    margin-right: calc(15% - 6px);
    padding-inline: 10px;
}

